{
    "RocketBot": {
        "GITHUB_APP_PRIVATE_KEY": "...",
        "GITHUB_APP_INSTALLATION_ID": "...",
        "GITHUB_APP_APP_ID": "...",
        "GITHUB_TOKEN": "...",
        "BUILDKITE_TOKEN": "...",
        "BUILDKITE_ORG_NAME": "...",
        "ENABLE_DEBUG": "true"
    }
}
